*{
    margin:0;
    padding:0;
    box-sizing:border;
    -webkit-box-sizing:border;
    -moz-box-sizing:border;
    -o-box-sizing:border;
}
body{
    background-repeat: no-repeat;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 7px;
    font-size: 22px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 15px;
    border-top: 4px double #fff;
    border-bottom: 4px double #fff;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    width:100%;
    position: absolute;
    text-align:center;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    font-size: 22px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/* #selectDiv select option{
    border:1px solid #fff;
    border-radius:15px;
    width:100%;
} */
#main{
    width:450px;
    background-color:rgb(206 86 86 / 0%);
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}
#main header{
    text-align:center;
    color:#fff;
    height:350px;
}
#main header img{
    height:150px;
    border-radius:50%;
    margin-top: 50px;
}
#main header h2{
    margin:20px 0;
    font-size:35px;
    letter-spacing: 2px;
    font-style: italic;
}
#main header marquee{
    -webkit-font-size: 35px;
    -moz-font-size: 35px;
    -o-font-size: 35px;
    font-size: 35px;
    border-top:6px double #fff;
    border-bottom:6px double #FFF;
    background-color: #6418185e;
    height: 71px;
    -webkit-line-height: 71px;
    -moz-font-size: 35px;
    -o-line-height: 71px;
    line-height: 71px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    animation-name:ChangeColor;
    animation-duration:10s;
    animation-delay:0s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-timing-function:linear;
}
#resetButton{
    width: 40px;
    height: 35px;
    border-radius: 50%;
    transform: translate(7px,5px);
    cursor: pointer;
}
#speedLabel{
    padding-left: 50px;
}
#content{
    border-radius: 20px;
    background-color:#fff;
}
#buttons{
    display: flex;
    justify-content: center;
    margin-top:10px;
}
#buttons img{
    margin: 10px 10px;
    width:71px;
    height:71px;
    border-radius:50%;
    cursor: pointer;
}
#pleaseWait , #X{
    position: absolute;
    display: inline-block;
    text-align: center;
}
#pleaseWait{
    transform: translate(0%, 457%);
    width: 100%;
    background-color: #fdd107;
}
#X{
    left: 93%;
    font-size: 17px;
    font-weight: bolder;
    cursor: pointer;
}
#ranges{
    text-align:center;
}
input[type="range" i]{
    -webkit-appearance: none;
    width:100%;
    height:5px;
    background-color:#ccc;
}
input[type="range" i]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height:25px;
    border:none;
    outline:none;
    width:25px;
    background-color:#777;
    border-radius:50%;
}
#ranges h3{
    margin: 10px auto;
    background-color: #ce5656;
    color: #fff;
    font-size: 24px;
    font-family: monospace;
}
#volumeLabel{
    padding: 5px 0;
}
#SpeedLabel{
    padding:0;
}
#colors{
    margin-top:20px;
    width:100%;
    display:flex;
    justify-content:space-around;
}
#colors div{
    width:40px;
    height:40px;
    border-radius:50%;
}
#color1{
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#color2{
    background: #1A2980;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#color3{
    background: #DD5E89;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F7BB97, #DD5E89);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F7BB97, #DD5E89); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#color4{
    background: #cc2b5e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#color5{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#color6{
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
footer{
    text-align: center;
    color: #fff;
    line-height: 60px;
    font-size: 20px;
    position: absolute;
    top:100px;
}
@keyframes ChangeColor {
    0%{
        color:#fff;
        background-color:#ff9f1c;
    }
    25%{
        color:#fff;
        background-color:#e71d36;
    }
    50%{
        color:#fff;
        background-color:#2ec4b6;
    }
    75%{
        background-color:#011627;
        color:#fff;
    }
    100%{
        color:#fff;
        background-color:#7268ff;
    }
}
@media only screen and (max-width:650px){
    #buttons img{
        width:45px;
        height:45px;
    }
    #pleaseWait{
        transform: translate(0%, 306%);
    }
}
@media only screen and (max-height:510px){
    footer{
        top:200px;
    }
}
@media only screen and (max-height:440px){
    footer{
        top:320px;
    }
}
@media only screen and (max-width:275px){
    #speedLabel {
        padding-left: 0px;
    }
}